<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="An express local shopping website">
        <meta name="author" content="Avian Silveira && Umesh Basniwal">
        <title>CheckOut | JustKart</title>
		<link rel="shortcut icon" href="/images/logo.ico" />
        <link href="styles/bootstrap.min.css" rel="stylesheet">
        <link href="styles/font-awesome.min.css" rel="stylesheet">
        <link href="styles/main.css" rel="stylesheet">
        <link href="styles/responsive.css" rel="stylesheet">
    </head><!--/head-->

    <body ng-app="Myapp">  
        <div id="header" ng-include src="'templates/header.html'"><!--header-->
        </div><!--/header-->

        <section id="cart_items">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li><a href="/cart.html">Cart</a></li>
                      <li class="active">Check out</li>
                    </ol>
                </div><!--/breadcrums-->
                <div ng-controller="checkoutCtrl" class="shopper-informations ">
                    <div class="row">
                        <div class="col-sm-5 clearfix">
                            <div class="bill-to">
                                <p>Bill To</p>
                                <div class="form-one">
                                    <form>
                                        <input type="text" value="{{UInfo.Name}}" placeholder="Name *">
                                        <textarea name="Address" placeholder="Address 1 *" rows="4">{{UInfo.Address}}</textarea>
                                    </form>
                                </div>
                                <div class="form-two">
                                    <form>
                                        <input type="text" value="{{UInfo.Pin_code}}" placeholder="Zip / Postal Code *">
                                        <input type="text" value="{{UInfo.state}}" placeholder="State / Province / Region *">
                                        <input type="text" value="{{UInfo.Mobile_no}}" placeholder="Mobile Phone*">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="order-message">
                                <p>Shipping Order</p>
                                <textarea name="message"  placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
                            </div>	
                        </div>					
                    </div>
                </div>
                <div class="review-payment">
                    <h2>Review & Payment</h2>
                </div>

                <div ng-controller="cartCtrl" class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Item</td>
                                <td class="description">Description</td>
                                <td class="price">Price</td>
                                <td class="quantity">Quantity</td>
                                <td class="total">Total</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pro in cart_items track by $index">
                                <td class="cart_product" >
                                    <a href="product-details.html#/?pid={{pro.product_id}}"><img src="images/products/{{ pro.product_image }}" alt="{{ pro.product_title }}"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="product-details.html#/?pid={{pro.product_id}}">{{ pro.product_title }}</a></h4>
                                    <p>Web ID: {{ pro.product_id }}</p>
                                </td>
                                <td class="cart_price">
                                    <p>{{ pro.product_price | currency :"₹" :0}}</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <p class="cart_quantity_input">{{pro.quantity}}<p/>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">{{  pro.product_price *pro.quantity | currency :"₹" :0 }}</p>
                                </td>
                                <td class="cart_delete">
                                    <button ng-click="cartDelete(pro.product_id);" class="btn btn-fefault cart"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
				</div>
                <div class="payment-options" ng-controller="cartCtrl">
                    <div class="total_area">
                        <ul>
                            <li>Cart Sub Total <span>{{ (total_s() | num) | currency :"₹" :0 }}</span></li>
                            <li>Shipping Cost <span>500</span></li>
                            <li>Total <span>{{ (total_p() | num) | currency :"₹" :0 }}</span></li>
                        </ul>
                        <div class="review-payment">
                            <h2>Payment Options</h2>
                        </div>
                    </div>
                    <div class="category-tab" ng-controller="checkoutCtrl"><!--category-tab-->
                        <div class="row-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#cod" data-toggle="tab">Cash on delivery</a></li>
                                <li><a href="#debit_card" data-toggle="tab">Debit Card</a></li>
                                <li><a href="#credit_card" data-toggle="tab">Credit Card</a></li>
                                <li><a href="#emi" data-toggle="tab">EMI</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="cod">
                                <p>Proceed for Cash on delivery for this product(s)?</p>
                                <button ng-click="checkout()" class="btn btn-default check_out">Check Out</button>
                            </div>
                            <div class="tab-pane fade" id="debit_card">
                                <div class="form-two">
                                    <form>
                                        <input type="text" placeholder="Card Number">
                                        <label>Expiry Date</label>
                                        <select>
                                            <option>MM</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                        <select>
                                            <option>YY</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                            <option>32</option>
                                            <option>33</option>
                                            <option>34</option>
                                            <option>35</option>
                                            <option>36</option>
                                            <option>37</option>
                                            <option>38</option>
                                            <option>39</option>
                                            <option>40</option>
                                            <option>41</option>
                                        </select>
                                        <input type="text"placeholder="CVV">
                                    </form>
                                    <button ng-click="checkout()" class="btn btn-default check_out">Check Out</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="credit_card">
                                <div class="form-two">
                                    <form>
                                        <input type="text" placeholder="Card Number">
                                        <label>Expiry Date</label>
                                        <select>
                                            <option>MM</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                        <select>
                                            <option>YY</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                            <option>32</option>
                                            <option>33</option>
                                            <option>34</option>
                                            <option>35</option>
                                            <option>36</option>
                                            <option>37</option>
                                            <option>38</option>
                                            <option>39</option>
                                            <option>40</option>
                                            <option>41</option>
                                        </select>
                                        <input type="text"placeholder="CVV">
                                    </form>
                                    <button ng-click="checkout()" class="btn btn-default check_out">Check Out</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="emi">
                                <select>
                                    <option>-- Select Bank --</option>
                                    <option>Axis Bank</option>
                                    <option>Citi Bank</option>
                                    <option>HDFC Bank</option>
                                    <option>HSBC Bank</option>
                                    <option>ICICI Bank</option>
                                    <option>IndusInd Bank</option>
                                    <option>Kotak Bank</option>
                                    <option>Standard Chartered Bank</option>
                                    <option>State Bank of India</option>
                                </select>
                                <ul>
                                    <li><input type="radio" name="emiPeriod" value="3" ng-model="emiPeriod"><label>3 months   {{ ((total_p()*0.13) | num)| currency :"Rs."}}/-p.m.  13%</label></li>
                                    <li><input type="radio" name="emiPeriod" value="6" ng-model="emiPeriod"><label>6 months   {{ ((total_p()*0.13) | num)| currency :"Rs."}}/-p.m.  13%</label></li>
                                    <li><input type="radio" name="emiPeriod" value="9" ng-model="emiPeriod"><label>9 months   {{ ((total_p()*0.14) | num)| currency :"Rs."}}/-p.m.  14%</label></li>
                                    <li><input type="radio" name="emiPeriod" value="12" ng-model="emiPeriod"><label>12 months   {{ ((total_p()*0.14) | num)| currency :"Rs."}}/-p.m.  14%</label></li>
                                    <li><input type="radio" name="emiPeriod" value="18" ng-model="emiPeriod"><label>18 months   {{ ((total_p()*0.15) | num)| currency :"Rs."}}/-p.m.  15%</label></li>
                                    <li><input type="radio" name="emiPeriod" value="24" ng-model="emiPeriod"><label>24 months   {{ ((total_p()*0.15) | num)| currency :"Rs."}}/-p.m.  15%</label></li>
                                </ul>
                                <div class="form-two">
                                    <form>
                                        <input type="text" placeholder="Card Number">
                                        <label>Expiry Date</label>
                                        <select>
                                            <option>MM</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                        <select>
                                            <option>YY</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                            <option>32</option>
                                            <option>33</option>
                                            <option>34</option>
                                            <option>35</option>
                                            <option>36</option>
                                            <option>37</option>
                                            <option>38</option>
                                            <option>39</option>
                                            <option>40</option>
                                            <option>41</option>
                                        </select>
                                        <input type="text"placeholder="CVV">
                                    </form>
                                    <button ng-click="checkout()" class="btn btn-default check_out">Check Out</button>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </section> <!--/#cart_items-->
        <div id="footer" ng-include src="'templates/footer.html'"><!--Footer-->		
        </div><!--/Footer-->
			
		<script src="scripts/js/jquery.js"></script>			
        <script src="scripts/js/angular.min.js"></script>
		<script src="scripts/js/angular-cookies.min.js"></script>
		<script src="scripts/js/angularjs-geolocation.min.js"></script>
		<script src="scripts/js/ui-bootstrap-tpls-1.1.2.min.js"></script>
		<script src="scripts/js/angular-animate.min.js"></script>
        <script src="scripts/app.js"></script>
		<script src="scripts/directives/sTOn.js"></script>
		<script src="scripts/services/authFact.js"></script>
        <script src="scripts/services/proinfo.js"></script>
        <script src="scripts/controllers/MainController.js"></script>
		<script src="scripts/controllers/cartCtrl.js"></script>
		<script src="scripts/controllers/loginCtrl.js"></script>
		<script src="scripts/controllers/locCtrl.js"></script>
        <script src="scripts/controllers/checkoutCtrl.js"></script>
        <script src="scripts/js/bootstrap.min.js"></script>
    </body>
</html>