<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inserting Product</title>
        <script src="../scripts/js/tinymce/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea' });</script>
    </head>

    <body ng-app="Myapp">
        <form action="../api/insert_products.php" method="post" enctype="multipart/form-data" ng-controller="InsertCtrl">
            <table align="center" width="750px" border="2px" >
                <tr align="center">
                    <td colspan="8"><h2>Insert new Post Here</h2></td>
                </tr>
                <tr>
                    <td align="right"><b>Product Title : </b></td>
                    <td><input type="text" name="product_title" size="60" required/></td>
                </tr>
                <tr>
                    <td align="right"><b>Product Category : </b></td>
                    <td>   
                        <select name="product_cat" required>
                            <option >Select a Category</option>
                            <option ng-repeat="cat in category" value="{{ cat.cat_id }}">{{ cat.cat_title }}</option>
                        </select>
                    </td>
                </tr> 
                <tr>
                    <td align="right"><b>Product Brand : </b></td>
                    <td>
                        <select name="product_brand" required>
                            <option>Select a brand</option>       
                                <option ng-repeat="brand in brands" value="{{ brand.brand_id }}">{{ brand.brand_title }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right"><b>Product Image : </b></td>
                    <td><input type="file" name="product_image" required/></td>
                </tr>
                <tr>
                    <td align="right"><b>Product Price : </b></td>
                    <td><input type="text" name="product_price" required /></td>
                </tr>
                <tr>
                    <td align="right"><b>Product Description : </b></td>
                    <td><textarea name="product_desc" cols="20" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td align="right"><b>Product Keywords : </b></td>
                    <td><input type="text" name="product_keywords" size="50" required/></td>
                </tr>
                <tr align="center">
                    <td colspan="8"><input type="submit" name="insert_post" value="Insert!"/></td>
                </tr>
            </table>
        </form>
        <script src="../scripts/js/angular.min.js"></script>
		<script src="../scripts/js/angular-cookies.min.js"></script>
        <script src="../scripts/app.js"></script>
		<script src="../scripts/controllers/InsertCtrl.js"></script>
    </body>  
</html>
