 <div class="left-sidebar">
            <div class="category-products"><!--category-products-->

                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian"> 
                    <div class="panel panel-default" ng-repeat="cat in category">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#">
                                    {{ cat.cat_title }}
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div><!--/category-products-->

            <div class="brands_products"><!--brands_products-->
                <h2>Brands</h2>
                <div class="brands-name">
                    <ul class="nav nav-pills nav-stacked" ng-repeat="brand in brands" ng-if="$index < 6">
                        <li><a href="#"> <span class="pull-right">{{ brand.brand_id }}</span>{{ brand.brand_title }}</a></li>
                    </ul>
                </div>
            </div><!--/brands_products-->

            <div class="price-range"><!--price-range-->
                <h2>Price Range</h2>
                <div class="well text-center">
                     <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[0,600]" id="sl2" ><br />
                     <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                </div>
            </div><!--/price-range-->

        <div class="shipping text-center"><!--shipping-->
            <img src="images/home/shipping.jpg" alt="" />
        </div><!--/shipping-->

</div>